body{
    width: 100%;
    height: 100vh;
    margin: 0;
    background-image: linear-gradient(180deg,rgb(20, 52, 134),rgb(147, 147, 242));
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
.topo
{
    z-index: 10;
    position: relative;
    width: 800px;
    height: 50px;
    background-color: azure;
    border-radius: 0px 0px 20px 20px ;
    box-shadow: 1px 1px black;
    display: flex;
    flex-direction: row; /* Alinha em linha */
    justify-content: space-around; /* Alinha na direção principal, neste exemplo é ROW (linha) */
    justify-items: center;
    align-items: center;
    align-content: center;
}
.topo2
{
    z-index: 0;
    position: relative;
    width: 800px;
    height: 50px;
}
.opcoes
{
    width: 110px;
    height: 35px;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: row; /* Alinha em linha */
    justify-content: space-around; /* Alinha na direção principal, neste exemplo é ROW (linha) */
    justify-items: center;
    align-items: center;
    align-content: center;
    font-size: 23px;
    cursor: pointer;
}
.opcoes:hover
{
    color: green;
    background-color:aquamarine;
}

.menu1
{
    width: 150px;
    height: 150px;
    background-color: beige;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    align-content: center;
    cursor: pointer;
    position: absolute;
    top:-150px;
    left: 20px;
    z-index: 1;
    
}
.menu2
{
    width: 150px;
    height: 150px;
    background-color: beige;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    align-content: center;
    cursor: pointer;
    position: absolute;
    top:-140px;
    left: 230px;
    z-index: 1;
    
}
.inicia
{
    animation: descer 1s forwards;
}
@keyframes descer {
    0% {top:-140px;left: 230px;}
    100%{top:0px;left: 230px;}
}

.recolhe
{
    animation: subir 1s forwards;
}
@keyframes subir {
    0%{top:0px;left: 230px;}
    100% {top:-140px;left: 230px;}
    
}